.navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 150px;
    transition: all 0.3s ease-in-out;
}
.navbar.static .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar .navbar-brand,
.navbar .navbar-brand * {
    transition: all 0.3s ease-in-out;
}
.navbar.static .navbar-brand {
    width: 150px;
    height: 150px;
    background-color: var(--green-main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navbar.static .navbar-brand img {
    width: 80px;
    border-radius: 0 !important;
}
.navbar.scroll .navbar-brand {
    width: 120px;
    height: 120px;
    background-color: var(--green-main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navbar.scroll .navbar-brand img {
    width: 50px;
    margin-top: 17px;
    border-radius: 0 !important;
}
.navbar.scroll {
    height: 120px;
    background-color: white;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1);
}
.navbar-toggler {
    background-color: var(--green-dark);
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 1rem 2rem;
    font-weight: 500;
}
.navbar-toggler {
    transition: all 0.2s ease-in-out;
}
.navbar-toggler:focus {
    outline: 3px solid var(--green-light) !important;
    box-shadow: none;
}
.navbar .redes {
    display: flex;
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 1rem;
}
.navbar .redes .contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-dark);
    color: white;
    text-decoration: none;
    height: 2.4rem;
    width: 180px;
    border-radius: 1.2rem;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
}
.navbar .redes .contacto:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.navbar .redes .contacto img {
    position: absolute;
    height: 1.4rem;
    top: calc(50% - 0.75rem);
    left: 0.9rem;
}
.navbar .redes .red {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-dark);
    transition: all 0.3s ease-in-out;
    border-radius: 1.2rem;
}
.navbar .redes .red img {
    height: 1.4rem;
}
@media (min-width: 992px) {
    .navbar.static .container {
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }
    .navbar .redes {
        padding-right: 0;
    }
    .navbar .redes .contacto {
        flex-grow: 0;
    }
    .navbar.scroll {
        height: 70px;
    }
}